<div class="text-center" *ngIf="!article">
  <div class="spinner-border text-primary" role="status"></div>
</div>

<article *ngIf="article">
  <h1 class="display-3">{{ article.title }}</h1>
  <h3 class="display-4">by {{ article.username }}</h3>
  <p>
    {{ article.content }}
  </p>
  <section class="row">
    <div class="col-sm">
      <app-comment *ngFor="let c of article.comments" [comment]="c"></app-comment>
    </div>
  </section>
  <section class="row">
    <div class="col-sm">
      <app-add-comment-form
        [articleId]="article.id"
        (submitComment)="onSubmitComment($event)"></app-add-comment-form>
    </div>
  </section>
</article>
