@import "~bootstrap/scss/bootstrap";

.comment-header {
  background-color: $primary;
  padding: 10px;
  color: $white;
}

.media-body {
  border: $primary 2px solid;
  border-radius: 8px;
}

.comment-content {
  padding: 10px;
}
