<div class="create-article-form">
  <form>
    <h2>Create an article</h2>
    <div class="form-group">
      <label>Author</label>
      <input
        [(ngModel)]="article.title"
        #title="ngModel"
        required
        minlength="3"
        name="title"
        type="text"
        class="form-control"
        placeholder="Enter article title">
      <p *ngIf="title.invalid && (title.dirty || title.touched)">
        <small *ngIf="title.errors.required" class="text-danger">Title is required.</small>
        <small *ngIf="title.errors.minlength" class="text-danger">Title must contain 3 or more characters.</small>
      </p>
    </div>
    <div class="form-group">
      <label>Author</label>
      <input
        [(ngModel)]="article.username"
        #author="ngModel"
        required
        minlength="3"
        name="username"
        type="text"
        class="form-control"
        placeholder="Enter your name">
      <p *ngIf="author.invalid && (author.dirty || author.touched)">
        <small *ngIf="author.errors.required" class="text-danger">Author name is required.</small>
        <small *ngIf="author.errors.minlength" class="text-danger">Author name must contain 3 or more characters.</small>
      </p>
    </div>
    <div class="form-group">
      <label>Article content</label>
      <textarea
        [(ngModel)]="article.content"
        #content="ngModel"
        required
        minlength="10"
        name="content"
        class="form-control"
        placeholder="Enter your article"></textarea>
      <p *ngIf="content.invalid && (content.dirty || content.touched)">
        <small *ngIf="content.errors.required" class="text-danger">Content is required.</small>
        <small *ngIf="content.errors.minlength" class="text-danger">Content must contain 10 or more characters.</small>
      </p>
    </div>
    <button
      [disabled]="title.invalid || author.invalid || content.invalid"
      (click)="onSubmit()"
      class="btn btn-warning">Submit</button>
  </form>
</div>
